/* Fuentes importadas localmente */

@font-face {
  font-family: "Roboto Slab";
  src: url("assets/fonts/Roboto-Slab.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Dangrek";
  src: url("assets/fonts/Dangrek.ttf") format("truetype");
  font-display: swap;
}

/* Estilos Globales */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto Slab", sans-serif;
  color: #111;
  background-color: #e0e0e0;
  font-size: 1.6rem;
  line-height: 1.5;
  max-width: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #212121;
  transition: all 0.3s ease-in-out;
  display: inline-block;

  &:hover {
    color: #0074e8;
  }

  &:focus-visible {
    color: #0074e8;
    outline: none;
  }
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Header Styles */

#encabezado {
  max-width: 100%;
  height: 6rem;
  background-color: #f0f0f0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  position: relative;
}

.isotipo {
  flex: 0 0 4rem;
}

.isotipo img {
  width: 4rem;
  height: 4rem;
  cursor: pointer;

  &:hover {
    transform: rotate(35deg) scale(1.2);
    transition: all 0.3s ease-in-out;
  }
}

/* Hide checkbox */
#toggle {
  display: none;
}

/* Navigation Container */
.nav_contenedor {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1 0 auto;
  margin-left: 2rem;
  z-index: 3;
}

.enlaces_primarios {
  display: flex;
  gap: 0 1rem;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: bold;
}

.menu_contenedor {
  display: flex;
  align-items: center;
  gap: 2rem;
  position: relative;
}

#barra_busqueda {
  all: unset;
  outline: 0.1rem solid rgba(0, 0, 0, 0.5);
  border-radius: 2.5rem;
  padding: 0.6rem 1.5rem;
  transition: all 0.2s ease-in-out;
  transform: translateX(5rem);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: none;

  &:focus-visible {
    outline: 0.2rem solid #0074e8;
    border: none;
  }

  &::placeholder {
    text-transform: uppercase;
    font-size: 1.2rem;
    color: #212121;
  }

  &::-webkit-search-cancel-button {
    -webkit-appearance: none;
    appearance: none;
  }

  &::-webkit-search-decoration {
    -webkit-appearance: none;
    appearance: none;
  }
}

.icono_buscar_contenedor {
  width: 1.6rem;
  height: 1.6rem;

  &:focus-visible {
    outline: 0.2rem solid #0074e8;
    outline-offset: .2rem;
  }
}

#buscar_toggle {
  display: none;
}

.icono_buscar {
  position: relative;
  z-index: 5;
  cursor: pointer;
}

#buscar_toggle:checked~#barra_busqueda {
  display: block;
}

.enlaces_secundarios {
  display: flex;
  gap: 0 1rem;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: bold;
}

/* Hamburger Menu */
.menu_hamburguesa {
  display: none;
  flex: 0 0 2.6rem;
}

.icono_hamburguesa {
  width: 2.6rem;
  height: 2.6rem;
  cursor: pointer;
}

/* Section de Contenido */

.banner_cta {
  background: url("assets/background.webp") no-repeat center/cover;
  color: #eaeaea;
  height: calc(100vh - 6rem);
  position: relative;
  padding: 0 0 8rem 0;
}

.banner_cta::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: oklch(0 0 0);
  background: linear-gradient(0deg, oklch(0% 0 0) 0%, oklch(100% 0 0 / 0) 100%);
}

.contenedor_texto {
  width: 50%;
  height: 100%;
  position: relative;
  z-index: 2;
  flex-flow: column nowrap;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 2rem 0;
  padding: 2rem;
}

.banner_titulo {
  font-size: 3.5rem;
  font-weight: bold;
  font-family: "Dangrek", sans-serif;
  text-wrap: pretty;
  width: 18ch;
}

.banner_subtitulo {
  font-size: 1.6rem;
  color: rgba(234, 234, 234, 0.9);
  width: 38ch;
}

.contenedor_texto a {
  padding: 1rem 2rem;
  border-radius: 100vmax;
  background-color: #eaeaea;

  &:hover {
    color: white;
    background-color: #0074e8;
    transition: all 0.3s ease;
  }
}

/* Media Queries */

/* Smaller Viewport */

@media (max-width: 640px) {
  #encabezado {
    padding: 0 2rem;
  }

  .nav_contenedor {
    display: none;
    margin: 0;
  }

  #barra_busqueda {
    max-width: 100%;
    transform: translateX(0);
    padding: .2rem .5rem;

    &::placeholder {
      text-transform: uppercase;
      font-size: 1.2rem;
      text-align: left;
    }
  }

  .menu_hamburguesa {
    display: block;
  }

  #toggle:checked~.nav_contenedor {
    display: flex;
    position: absolute;
    top: 6rem;
    right: 0;
    max-width: fit-content;
    background-color: #f0f0f0;
    flex-direction: column;
    align-items: flex-end;
    margin: 1rem;
    padding: 1rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
    border-radius: .4rem;
  }

  .enlaces_primarios {
    flex-direction: column;
    align-items: flex-end;
    gap: 1rem;
    margin-bottom: 1rem;
  }

  .menu_contenedor {
    flex-direction: column;
    align-items: flex-end;
    gap: 1rem;
  }

  .enlaces_secundarios {
    flex-direction: column;
    align-items: flex-end;
    gap: 1rem;
  }
}

/* Medium Screen sizes */

@media (min-width: 641px) and (max-width: 1024px) {
  #encabezado {
    padding: 0 2rem;
  }

  .nav_contenedor {
    display: none;
  }

  .menu_hamburguesa {
    display: block;
  }

  #toggle:checked~.nav_contenedor {
    display: flex;
    position: absolute;
    top: 6rem;
    right: 0;
    width: fit-content;
    background-color: #f0f0f0;
    flex-direction: column;
    align-items: flex-end;
    margin: 1rem;
    padding: 1rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
    border-radius: .4rem;
  }

  .enlaces_primarios {
    flex-direction: column;
    align-items: flex-end;
    gap: 1rem;
    margin-bottom: 1rem;
  }

  .menu_contenedor {
    flex-direction: column;
    align-items: flex-end;
    gap: 1rem;
  }

  .enlaces_secundarios {
    flex-direction: column;
    align-items: flex-end;
    gap: 1rem;
  }

  #barra_busqueda {
    max-width: 100%;
    transform: translateX(0);
    padding: .4rem 1rem;

    &::placeholder {
      text-transform: uppercase;
      font-size: 1.2rem;
      text-align: left;
    }
  }
}

/* Larger Screen sizes */
@media (min-width: 1025px) {
  .menu_hamburguesa {
    display: none;
  }

  .nav_contenedor {
    display: flex;
  }
}

/* Breakpoints */
/* 
@media (width <= 640px) {
  .container {
    padding: 1rem;
  }
}

@media (640px < width <= 1024px) {
  .container {
    max-width: 800px;
    padding: 1.5rem;
  }
}

@media (1024px < width <= 1440px) {
  .container {
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 1.5rem;
  }
}

@media (width > 1440px) {
  .container {
    max-width: 1600px;
    gap: 2rem;
  }
} */