/* Fuentes importadas localmente */

@font-face {
  font-family: "Lexend";
  src: url("assets/fonts/Lexend.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Roboto Slab";
  src: url("assets/fonts/Roboto-Slab.ttf") format("truetype");
  font-display: swap;
}


/* Estilos Globales */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto Slab", sans-serif;
  color: oklab(17.764% 0 -0.00002);
  background-color: oklab(90.67% 0 -0.0001);
  font-size: 1.6rem;
  line-height: 1.5;
  max-width: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: oklab(24.776% 0 -0.00003);
  transition: all 0.3s ease-in-out;
  display: inline-block;

  &:hover {
    color: oklab(59.465% -0.04533 -0.21776);
  }

  &:focus-visible {
    color: oklab(59.465% -0.04533 -0.21776);
    outline: none;
  }
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Sección Encabezado */

#encabezado {
  max-width: 100%;
  height: 6rem;
  background-color: oklab(95.514% 0 -0.00011);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  position: relative;
}

.isotipo_contenedor {
  flex: 0 0 4rem;
}

.isotipo_contenedor img {
  width: 4rem;
  height: 4rem;
  cursor: pointer;

  &:hover {
    transform: rotate(35deg) scale(1.2);
    transition: all 0.3s ease-in-out;
  }
}

.nav_contenedor {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1 0 auto;
  margin-left: 2rem;
  z-index: 3;
}

.enlaces_primarios,
.enlaces_secundarios {
  display: flex;
  gap: 0 1rem;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: bold;
}

.menu_contenedor {
  display: flex;
  align-items: center;
  gap: 2rem;
  position: relative;
}

#barra_busqueda {
  all: unset;
  outline: 0.1rem solid rgba(0, 0, 0, 0.5);
  border-radius: 2.5rem;
  padding: 0.6rem 3.5rem 0.6rem 1.5rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  opacity: 0;
  visibility: hidden;
  transform: translateX(0);
  transition: opacity 0.3s ease, transform 0.5s ease;

  &:focus-visible {
    outline: 0.2rem solid #0074e8;
    border: none;
  }

  &::placeholder {
    text-transform: uppercase;
    font-size: 1.2rem;
    color: oklab(24.776% 0 -0.00003);
  }

  &::-webkit-search-cancel-button {
    -webkit-appearance: none;
    appearance: none;
  }

  &::-webkit-search-decoration {
    -webkit-appearance: none;
    appearance: none;
  }
}

.icono_buscar_contenedor {
  width: 1.6rem;
  height: 1.6rem;

  &:focus-visible {
    outline: 0.2rem solid #0074e8;
    outline-offset: .2rem;
  }
}

.icono_buscar {
  position: relative;
  z-index: 5;
  cursor: pointer;
}

#buscar_interruptor:checked~#barra_busqueda {
  opacity: 1;
  visibility: visible;
  transform: translateX(5rem);
}

.contenedor_icono_hamburguesa {
  display: none;
  flex: 0 0 2.6rem;

  &:focus-visible {
    outline: 0.2rem solid #0074e8;
    outline-offset: .2rem;
  }
}

.icono_hamburguesa {
  width: 2.6rem;
  height: 2.6rem;
  cursor: pointer;
}

/* Sección de Contenido */

.banner_cta {
  background: url("assets/background.webp") no-repeat center/cover;
  height: calc(100vh - 6rem);
  position: relative;
  padding: 0 0 5rem 0;
}

.banner_cta::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: oklch(0 0 0);
  background: linear-gradient(0deg, oklch(0% 0 0) 0%, oklch(100% 0 0 / 0) 100%);
}

.contenedor_texto {
  width: 50%;
  height: 100%;
  position: relative;
  z-index: 2;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 2rem 0;
  padding-left: 2rem;
  color: oklab(93.705% 0 -0.00011);
}

.banner_titulo {
  width: 15ch;
  font-family: "lexend", sans-serif;
  font-size: 6rem;
  line-height: 1.2;

}

.banner_texto {
  font-size: 1.8rem;
  color: oklab(93.705% 0 -0.00011 / 0.8);
  width: 50ch;
}

.contenedor_texto a {
  padding: 1rem 2rem;
  margin: 1rem 0;
  border-radius: 100vmax;
  background-color: oklab(100% 0 -0.00011 / 0.8);
  color: oklab(17.764% 0 -0.00002);

  &:hover {
    color: oklab(95.514% 0 -0.00011);
    background-color: oklab(59.465% -0.04533 -0.21776);
    transition: all 0.3s ease;
  }

  &:focus-visible {
    color: oklab(95.514% 0 -0.00011);
    background-color: oklab(59.465% -0.04533 -0.21776);
    transition: all 0.3s ease;
  }
}

#imprescindibles {
  /* padding: 0 2rem; */

}

.imprescindibles_titulo {
  font-family: Lexend;
  text-transform: uppercase;
  text-align: center;
  font-size: 3rem;
  margin: 10rem 0 2.5rem 0;
}

.imprescindibles_texto {
  font-size: 2rem;
  width: 70rem;
  text-align: center;
  text-wrap: pretty;
  margin: 0 auto 5rem auto;
  padding: 0;
  font-weight: 500;
}

.lista_de_comics {
  max-width: 270rem;

  article {}

  img {
    aspect-ratio: 2 / 3;
    width: 30rem;
  }

  hr {
    display: none;
  }

  p {}
}

.one {
  max-width: 90rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  place-content: center;
  column-gap: 2rem;
}

footer p {}



/*========================================
           Pantallas pequeñas
=========================================*/

@media (width <=640px) {
  #encabezado {
    padding: 0 2rem;
  }

  .nav_contenedor {
    display: none;
  }

  .contenedor_icono_hamburguesa {
    display: block;
  }

  #barra_busqueda {
    max-width: 100%;
    padding: .1rem 1rem;
    opacity: 0;
    visibility: hidden;
    transform: translateX(-100%);
    transition: opacity 0.3s ease, transform 0.5s ease;

    &::placeholder {
      text-transform: uppercase;
      font-size: 1.1rem;
      text-align: left;
    }
  }

  .contenedor_hamburguesa {
    display: block;
  }

  #menu_hamburguesa_interruptor:checked~.nav_contenedor {
    display: flex;
    position: absolute;
    top: 6rem;
    right: 0;
    max-width: fit-content;
    background-color: oklab(95.514% 0 -0.00011);
    flex-direction: column;
    align-items: flex-end;
    margin: 1rem;
    padding: 1rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
    border-radius: .4rem;
  }

  .enlaces_primarios {
    flex-direction: column;
    align-items: flex-end;
    gap: 1rem 0;
    margin-bottom: 1rem;
  }

  .menu_contenedor {
    flex-direction: column;
    align-items: flex-end;
    gap: 1rem 0;
  }

  .enlaces_secundarios {
    flex-direction: column;
    align-items: flex-end;
    gap: 1rem 0;
  }

  #barra_busqueda {
    max-width: 0;
    transform: translateX(5%);
    padding: .4rem 2.5rem .4rem 1rem;

    &::placeholder {
      text-transform: uppercase;
      font-size: 1.1rem;
      text-align: left;
    }
  }

  .icono_buscar_contenedor {
    position: absolute;
    top: .7rem;
    right: .5rem;
  }

  #buscar_interruptor:checked~#barra_busqueda {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
    max-width: 100%;
  }

  .banner_cta {
    padding: 0 0 4rem 0;
  }

  .contenedor_texto {
    width: 75%;
    gap: .5rem 0;
  }

  .banner_titulo {
    font-size: 2.5rem;
    line-height: 1.4;
    font-weight: bold;
  }

  .banner_texto {
    font-size: 1.4rem;
    width: 40ch;
  }

  .contenedor_texto a {
    font-size: 1.2rem;
    padding: 1rem 2rem;
    color: oklab(17.764% 0 -0.00002);
    border-radius: 100vmax;

    &:hover {
      color: oklab(95.514% 0 -0.00011);
      background-color: oklab(57.303000000000004% -0.0472 -0.19042);
      transition: all 0.3s ease;
    }

    &:focus-visible {
      color: oklab(95.514% 0 -0.00011);
      background-color: oklab(57.303000000000004% -0.0472 -0.19042);
      transition: all 0.3s ease;
    }
  }

  #imprescindibles {
    padding: 2rem;
    text-align: center;

    img {
      aspect-ratio: 2 / 3;
      height: 40rem;
      margin: 0 auto 2rem auto;
    }

    article p {
      max-width: 30rem;
      margin: 2rem auto;
      font-size: 1.3rem;
      font-weight: 500;
    }

    hr {
      display: block;
      height: .2rem;
      width: 30rem;
      border: .1rem dotted oklab(24.776% 0 -0.00003 / 0.10);
      margin: 2rem auto;
    }

  }

  .imprescindibles_titulo {
    font-family: Lexend;
    text-transform: uppercase;
    margin: 6rem 0 0 0;
    font-size: 2.2rem;
  }

  .imprescindibles_texto {
    max-width: 90%;
    margin-block: 2rem;
    text-wrap: pretty;
    font-size: 1.3rem;
  }

  .one {
    display: block;
  }


  footer p {
    font-size: 1rem;
    color: oklab(24.776% 0 -0.00003);
    text-align: center;
    max-width: 100%;
    margin: 2rem 0 0 0;
  }
}

/*========================================
            Medium Viewport
=========================================*/
/* 
@media (width >=641px) and (width <=835px) {
  #encabezado {
    padding: 0 2rem;
  }

  .nav_contenedor {
    display: none;
  }

  #barra_busqueda {
    max-width: 100%;
    transform: translateX(0);
    padding: .1rem 1rem;

    &::placeholder {
      text-transform: uppercase;
      font-size: 1.2rem;
      text-align: left;
    }
  }

  .contenedor_hamburguesa {
    display: block;
  }

  #toggle_menu_hamburguesa:checked~.nav_contenedor {
    display: flex;
    position: absolute;
    top: 6rem;
    right: 0;
    width: fit-content;
    background-color: #f0f0f0;
    flex-direction: column;
    align-items: flex-end;
    margin: 1rem;
    padding: 1rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
    border-radius: .4rem;
  }

  .enlaces_primarios {
    flex-direction: column;
    align-items: flex-end;
    gap: 1rem 0;
    margin-bottom: 1rem;
  }

  .menu_contenedor {
    flex-direction: column;
    align-items: flex-end;
    gap: 1rem 0;
  }

  .enlaces_secundarios {
    flex-direction: column;
    align-items: flex-end;
    gap: 1rem 0;
  }

  #barra_busqueda {
    max-width: 100%;
    transform: translateX(0);
    padding: .4rem 1rem;

    &::placeholder {
      text-transform: uppercase;
      font-size: 1.2rem;
      text-align: left;
    }
  }

  .banner_cta {
    padding: 0 0 4rem 0;
  }

  .contenedor_texto {
    width: 75%;
    color: yellow;
  }

  .banner_titulo {
    font-size: 5rem;
    line-height: 6rem;
    font-weight: 600;
  }

  .banner_subtitulo {
    font-size: 1.8rem;
    color: rgba(234, 234, 234, 0.9);
    width: 60ch;
  }

  .contenedor_texto a {
    padding: 1rem 2rem;
    border-radius: 100vmax;
    background-color: rgba(234, 234, 234, 0.8);
    color: #111;

    &:hover {
      color: #f0f0f0;
      background-color: #0074e8;
      transition: all 0.3s ease;
    }

    &:focus-visible {
      color: #f0f0f0;
      background-color: #0074e8;
      transition: all 0.3s ease;
    }
  }
} */


/*========================================
            Larger Viewport
=========================================*/

@media (width >=836px) and (width <=1024px) {}

/*========================================
            Largest Viewport
=========================================*/

@media (width >=1440px) {}